@import url(https://fonts.googleapis.com/css?family=Megrim);
// @import url(https://fonts.googleapis.com/css?family=Raleway);
// @import url(https://fonts.googleapis.com/css?family=Gentium+Book+Basic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

$blueberry: #6B7A8F; //for background, big colors
$apricot: #F7882F; //for buttons, etc
$citrus: #F7C331; //for header text
$apple: #DCC7AA; //for regular text

* {
	font-family: "Open Sans", Arial, sans-serif;
	color: white;
	box-sizing: border-box;
}

body {
	background: linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
      ),
	url('../images/crayons.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0;
}

button {
	color: $citrus;
	background: $apricot;
	border-style: none;
	outline-width: none;
	padding: 5px 10px;
	font-size: 18px;
	cursor: pointer;
}

header {
	#navMenu {
		text-align: center;
		background: $apricot;
		padding: 10px 0;
		a {
			text-decoration: none;
			padding: 10px;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 14px;
			font-weight: 700;
			transition: all .5s ease;
			&:hover {
				color: $citrus;
			}
		}
	}
}

#loginView {
	input {
		color: #000;
		font-size: 14px;
		display: block;
		margin: 10px auto;
		transition: all .5s ease;
		&:focus {
			color: $blueberry;
			outline: 2px solid $apricot;
		}
	}
	.credentials {
		text-align: center;
		margin: 0 auto;
		margin-top: 40px;
		border: 2px solid $apricot;
		width: 35%;
		display: block;
		padding: 20px 0;
		background: rgba(220,199,170,.6);
	}
	h3 {
		margin-top: 0;
	}
	h1 {
		font-size: 50px;
		font-family: "Megrim";
		text-align: center;
		color: $citrus;
	}
}

#dashboard {
	border: 2px solid $apricot;
	background: rgba(220,199,170,.6);
	width: 50%;
	margin: 10% auto 0;
	padding: 20px;
	h3 {
		color: $citrus;
		text-align: center;
		font-family: "Megrim";
		font-size: 22px;
	}
	p {
		text-align: center;
		font-weight: bold;
		font-size: 18px;
	}
	a {
		display: block;
		text-align: center;
		width: 50%;
		background: $apricot;
		padding: 5px 10px;
		text-decoration: none;
		// color: $blueberry;
		margin: 10px auto;
		font-size: 18px;
		transition: all .5s ease;
		&:hover {
			background: $citrus;
		}
	}
}

#singleDrawingView {
	h2 {
		text-align: center;
		font-family: "Megrim";
	}
	p {
		text-align: center;
	}
	#userInteraction {
		text-align: center;
		margin-top: 30px;
		span {
			border: 1px solid $apricot;
			padding: 5px 10px;
			font-size: 18px;
			margin-left: 15px;
		}
		form {
			margin-top: 15px;
			textarea {
				font-size: 18px;
				color: black;
				width: 300px;
			}
			button {
				margin: 10px 0 0 10px;
				vertical-align: top;
			}
		}
		#remove {
			text-align: center;
		}
	}
	.comment {
		border: 1px solid $apricot;
		// padding: 10px 20px;
		margin: 5px auto;
		width: 50%;
		h5 {
			color: $citrus;
			margin: 5px;
		}
	}
}



#canvas {
	display: block;
	margin: 5% auto 0;
	width: 501px;
	font-size: 0;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	.row {
		// position: relative;
		// width: 60%;
		// overflow: auto;
		// &:last-child {
		// 	.box {
		// 		border-width: 1px 0 1px 1px;
		// 		&:last-child {
		// 			border-width: 1px 1px 1px 1px;
		// 		}
		// 	}
		// }
	}

	.box {
		// float: left;
		display: inline-block;
		height: 10px;
		// flex: 1 1 auto;
		width: 10px;
		border: 1px solid black;
		border-width: 1px 0 0 1px;
		// &:last-child {
		// 	border-width: 1px 1px 0 1px;
		// }
		// &:after{
		// 	content:'';
		// 	padding-top: 100%; 
		// 	display: block;
		// }
	}
}

#drawingListing {
	h1 {
		text-align: center;
	}
	.drawing {
		h3 {
			text-align: center;
			color: $apple;
			font-family: "Megrim";
			font-size: 24px;
		}
		img {
			width: 200px;
			margin: 0 auto;
			display: block;
		}
	}
}

#toolbox {
	text-align: center;
	margin: 10px auto 0;
	border: 1px solid $citrus;
	width: 500px;
	button {
		vertical-align: top;
		margin-top: 5px;
	}
}

#saveBox {
	text-align: center;
	input {
		font-size: 18px;
		color: #000;
		margin-right: 10px;
		margin-bottom: 20px;
	}
}

#winnerContainer {
	text-align: center;
	button {
		margin: 0 10px;
	}
}

#dateListings {
	text-align: center;
	.dateListing {
		img {
			width: 200px;
			margin: 0 auto;
			display: block;
		}
	}
}